@font-face{
    font-family: "Lucida Sans Typewriter";
    src: url("./Lucida\ Sans\ Typewriter\ Regular.ttf");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
background-color: black;
color: white;
font-family: "Lucida Sans Typewriter";
}
.headerlinks{
    position: sticky;
    top: 0;
    z-index: 666;
    height: 15vh;
    list-style: none;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
    background-color: darkgreen;
}

a{
    color: white;
    text-decoration: none;
}

.headerlinks a{
    font-size: 2rem;
}

a:hover{
    color:blue;
}

.logo{
    display: flex;
    justify-content: center;
}
.titlemain
{
    display: flex;
  justify-content: center;
  font-size: 36px;  
}
.aboutleft
{
display: flex;
justify-content: left;
}
.aboutright
{
display: flex;
text-align: right;
}
.about
{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}