body{
background-color: black;
color: white;
}
.header{
    text-decoration: none;
    color: white;
    font-size: 25px;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    background-color: darkgreen;
}
a{
    color: white;
    text-decoration: none;
}
a:hover{
    color:blue;
}
.logo{
    display: flex;
    justify-content: center;
}